@font-face {
  font-family: 'LadyNature';
  src: url('./assets/fonts/LadyNature.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/journey-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* @media only screen and (max-width: 600px) {

} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'LadyNature', 'sans-serif';
  color: white;
  font-size: 120px !important;
}

h3 {
  font-family: 'LadyNature', sans-serif;
  color: white;
  font-size: 50px !important;
}

.header {
  text-align: center;
  margin-top: 10%;
}

#username {
  margin-bottom: 20px;
}

input {
  outline: none;
  background-color: rgba(255,255,255, 0.6);
  border: none;
  border-radius: 12px;
  padding: 5px;
  color: #29301e;
}

.loginbtn {
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  background-color: white;
  transition: ease-in-out .25s;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 25px;
  outline: none !important;
  font-weight: bold;
}

.loginbtn:hover {
  background-color: #29301e;
  color: white;
}

#signupText {
  margin-top: 20px;
  font-size: 13px;
  color: white;
}

a {
  color: white !important;
}

.questionheader {
  text-align: center;
  margin-top: 15%;
  color: white;
  font-family: 'Arial', 'sans-serif';
}

.nextbtn {
  background-color: #29301e !important;
  color: white !important;
  font-family: 'LadyNature', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px !important;
  transition: ease-in-out .25s;
  border-radius: 15px !important;
}

.nextbtn:hover {
  background-color: #98a685 !important;
}

.navstyle {
  text-align: center;
  max-width: 50%;
  margin: auto;
}

.settingsinput {
  margin-bottom: 15px;
}

.section {
  margin-top: 20px;
}
