@font-face {
  font-family: 'LadyNature';
  src: url('./assets/fonts/LadyNature.otf');
}

/* HIDING SCROLLBARS, ENABLING SCROLL */
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none !important;
}

/* BACKGROUND & BODY */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/journey-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Varela Round', sans-serif;
  color: #29301e !important;
}

.container {
  height: 100vh;
}

/* HEADERS */
h1 {
  font-family: 'LadyNature', 'sans-serif';
  color: white;
  font-size: 120px !important;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 60px !important;
}

h3 {
  font-family: 'Varela Round', sans-serif;
}

/* HOME */
.home-page-bg {
  background-color: rgba(255,255,255, 0.6);
  padding: 40px;
  border-radius: 30px;
  text-align:center;
  margin-top: 30%;
}

.first {
  width: 50%;
  margin: auto!important;
}

/* ALIGNMENT & GENERAL CSS */
.jc-c {
  justify-content: center;
}

.bg-q {
  margin-top: 50px;
  background-color: rgba(255,255,255, 0.6);
  padding: 40px;
  border: none;
  border-radius: 50px;
  color: #29301e;
}

.test {
  position: absolute;
  background-color: rgba(255,255,255, 0.6);
  border: none;
  border-radius: 12px;
  margin-top: 15%;
  text-align: center;
}

.textCenter {
  text-align:center;
  margin-top: 20%;
}

p {
  color: #29301e;
}

.header-3 {
  text-align: center;
  margin-top: 10% !important;
  position: fixed !important;
  left: 0;
}

.header {
  text-align: center;
  margin-top: 20% !important;
}

.header-2 {
  text-align: center;
  margin-top: 10% !important;
}

#username {
  margin-bottom: 20px;
}

input {
  outline: none;
  background-color: rgba(255,255,255, 0.6);
  border: none;
  border-radius: 12px;
  padding: 5px;
  color: #29301e;
}

.loginbtn {
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  background-color: white;
  color:  #566048;
  transition: ease-in-out .25s;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 25px;
  outline: none !important;
  font-weight: bold;
}

.loginbtn:hover {
  background-color: rgba(86,96,72,.8);
  color: white;
}

#signupText {
  margin-top: 20px;
  font-size: 13px;
  color: white;
}

a {
  color: white !important;
}

/* QUESTION BUTTONS */

.next {
  background-color:white !important;
  color:  #566048 !important;
  transition: ease-in-out .25s;
  border-radius: 25px !important;
  position: relative;
  text-align:center !important;

}

.next i {
  margin: 0;
  padding: 0 5px 0 5px;
}

.next i:hover {
  color: white;
}

.next:hover {
  background-color:  #566048 !important;
  color: white !important;
}

.back {
  background-color: white !important;
  color: #566048 !important;
  transition: ease-in-out .25s;
  border-radius: 25px !important;
}

.back i {
  margin: 0;
  padding: 0 5px 0 5px;
}

.back i:hover {
  color: white;
}

.back:hover {
  background-color:#566048 !important;
}

/* SETTINGS PAGE */

.settings-div {
  width: 50%;
  margin: auto !important;
}

.settingsinput {
  margin-bottom: 15px;
  background-color: white;
}

.settings-header {
  background-color: rgba(255,255,255, 0.6);
  text-align:center;
  margin-top: 30%;
  padding: 40px;
  border-radius: 30px;
}

/* ALERTS */
.swal-modal {
  background: white;
  border: none;
  border-radius: 25px;
  color: #566048;
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
}

.swal-button {
  background-color: #566048;
  color: white;
  outline: none !important;
  border: none;
  border-radius: 15px !important;
}

.swal-button:hover {
  background-color: rgba(86,96,72,.8) !important;
}

/* RESULTS */

.results-content {
  margin-top: 5%;
}

.placesList {
  text-align: center;
  margin: 50px auto!important;
  background-color: rgba(255,255,255, 0.6);
  padding: 40px;
  border-radius: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

li {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid white;
  margin: 5px;
}

.circle-img {
  min-width: 100%;
  min-height: 100%;
}

#placesdiv p,
.results {
  color:   #29301e !important;
}

#placesdiv {
  text-align: center;
}

.r-h2 {
  width: 50%;
  margin: auto !important;
  text-align:center;
}

.scroll {
  margin-top: 20%;
}

.results-content h3 {
  font-family: 'LadyNature';
  font-size: 90px;
  color: white;
  margin-top: 10%;
  /* background-color: rgba(255,255,255, 0.6); */
  border-radius: 30px;
  padding: 40px;
}

#saveTrip {
  position: fixed !important;
  top: 0;
  left: 0;
}

#forPDF {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .home-pg {
    width: 100%;
    margin: 0!important;
  }
  .first {
    width: 100%;
    height: auto!important;
  }
  .home-pg-2 {
    width: 100%;
    height: 75%;
    text-align: center;
  }
  h1 {
    font-size: 60px !important;
  }
  .r-h {
    width: 100%!important;
    position: relative!important;
  }
  #m-nav {
    display: block!important;
  }
  #nav {
    display: none;
  }
  .jc-c {
    justify-content: center;
  }
  .settings-div {
    width:100%;
    height: auto!important;
  }
  .eachTrip {
    width: 100% !important;
  }
  .results-content h3 {
    font-size: 60px;
  }
}