#m-nav {
    display: none;
}

#myLinks {
    z-index: 5;
    visibility: hidden;
    float: left;
}

.topnav {
    float: right;
    color: white!important;
    margin-top: 10px;
}

#myLinks i {
    font-size: 20px !important;
    padding-right: 10px;
    padding-top: 5px;
}
