#m-nav {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 5;
}

#myLinks {
    z-index: 5;
    visibility: hidden;
    float: left;
    background-color: rgba(117,130,100, .6);
    padding: 12px;
    border-radius: 5px;
}

.topnav {
    float: right;
    color: white!important;
    position: absolute;
    right: 20px;
}

#myLinks i {
    font-size: 20px !important;
}

.icons {
    background-color: #29301e;
    z-index: 5;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-bottom: 5px !important;
    outline: none !important;
    transition: ease-in-out .25s;
}

.icons:hover {
    background-color: #758264;
    color: white;
}

.fa-bars {
    padding: 10px;
}

.fa-bars:hover {
    color: white!important;
}

.fas {
    padding-right: 20px !important;
}

#m-nav .mobile-nav-logo {
    padding-top: 20px !important;
}