#q2 {
    display: none;
}

#autocomplete {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 15px;
}

p {
    color: white;
    font-weight: bold;
    
}

#idk {
    background-color: white;
    border: none;
    border-radius: 15px;
    color: #566048;
    padding: 10px;
    transition: ease-in-out .25s;
    font-weight: bold;
    outline: none!important;
}

#idk:hover {
    background-color:#566048;
    color: white;
}

#idk:active, #idk:focus {
    background-color: #566048;
    outline: none!important;
    color: white;
}