#autocomplete {
    font-weight: bold;
    color: #29301e;
    text-align: center;
    background-color: rgb(255,255,255);
}

@media only screen and (max-width: 600px) {
    .home-pg-2 {
      width: 100vw !important;
      height: 75% !important;
      text-align: center;
    }
}