.circle {
    padding: 30px;
    border: none;
    border-radius: 50%;
    transition: ease-in-out .25s;
    margin: 10px;
    outline: none!important;
    color: #566048;
    background-color: white;
}

.circle:hover {
    background-color:rgba(86,96,72,.8);
    color: white;
}

.circle:focus {
    background-color: #98a685;
}