#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  overflow: hidden;
  background-color:rgba(41,48,30, .4);
}

#nav button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  outline:none!important;
  transition: ease-in-out .25s;
  font-size: 25px;
}

#nav button:hover {
  color: #29301e;
}

.navbar-brand {
  border: none;
  background-color: transparent;
}

.cols-2 {
  float: left;

}